*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section nav */

.container{
    /* height: 2000px; */
    width: 100%;
} 

.section-container{
    /* height: 80px; */
    width: 100%;
} 

.head-container{
    height: 80px;
    width: 90%;
    margin: auto;
}

.head-container::after{
    content: "";
    display: table;
    clear: both;  
}

.box-1{
    height: 100%;
    width: 33.3%;
    float: left;
}

.header-background{
    background-image: url(img/background-header.png);

    background-color: rgb(2, 2, 105);
    background-size: 75% 80%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}





/* head title */

.head-container-2{
    height: 400px;
    width: 90%;
    margin: auto;
}

.head-container-2::after{
    content: "";
    display: table;
    clear: both;  
}

.head-container-3{
    height: 100px;
    width: 90%;
    margin: auto;
}

.box-2{
    height: 100%;
    width: 50%;
    float: left;
}

/* main parth 1 */


.main-container-2{
    height: 400px;
    width: 90%;
    margin: auto;
}

.box-3{
    height: 100%;
    width: 33.3%;
    float: left;
}



.main-container-2::after{
    content: "";
    display: table;
    clear: both;  
}


/* section footer */

.footer-container-3{
    height: 80px;
    width: 90%;
    margin: auto;
}

.box-2{
    height: 100%;
    width: 50%;
    float: left;
}



.footer-container-3::after{
    content: "";
    display: table;
    clear: both;  
}



/* utility class */

.border{
    border: solid 1px black;
}